spring:
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  datasource:
    url: ${PAYMENTS_DATABASE_URL} #jdbc:postgresql://localhost:5432/postgres
    username: ${PAYMENTS_DATABASE_USERNAME}
    password: ${PAYMENTS_DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver

api:
  payments:
    switch: ${API_PAYMENTS_SWITCH}  #http://localhost:8089/api/v1/payments
    final-status: ${API_PAYMENTS_SWITCH_FINAL_STATUS} #http://localhost:8089/api/v1/payments/final-status/{switchReference}


resilience4j:
  retry:
    instances:
      payments-switch:
        max-attempts: 3
        wait-duration: 500ms
        retry-predicate: com.resilient.payments.demo.resilience.PaymentsRetryPredicate


payment:
  recon:
    job:
      delay:
        seconds: 10


keystore:
  location: ${PAYMENTS_KEYSTORE_LOCATION}
  password: ${PAYMENTS_KEYSTORE_PASSWORD}

truststore:
  location: ${PAYMENTS_TRUSTSTORE_LOCATION}
  password: ${PAYMENTS_TRUSTSTORE_PASSWORD}

store:
  type: ${STORE_TYPE}

server:
  port: 8080
  ssl:
    key-store: classpath:${keystore.location}
    key-store-password: ${keystore.password}
    key-store-type: ${store.type}
    trust-store: classpath:${truststore.location}
    trust-store-password: ${truststore.password}
    trust-store-type: ${store.type}
    enabled: true
    client-auth: need


auth:
  server:
    base-url: ${AUTH_SERVER_URL}
    jwks-set-url: ${AUTH_SERVER_URL}/v1/auth/oauth2/jwks
